.page-content {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIfQgkvet2bzIAC0https://images.stockcake.com/public/f/4/d/f4dbbafe-5c63-4eaf-867f-3e9e87ebbe1a_large/joyful-money-rain-stockcake.jpghlMopA61o1Ey-_LvZNZg&s') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    color: black;
  }
  